@import 'commons/variables.scss';

html, body { 
    background-color: $primary-color;
}

content {
    background-color: $primary-color;
}

header {
    background-color: $secondary-color;
}

footer {
    background-color: $secondary-color;

    img {
        width: 100px;
        height: 100px;
    }
    a, p {
        color: $tertiary-color;
    }

}

.required:after {
    content:" *";
}